* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ded;
    height: 5000px;
}

a:link {color: #fff; text-decoration: none;} 
a:visited {color: #fff}
a:hover {color: #fff;}
a:active {color: #fff;}

/* Header START */
#menu {
    display: flex;
    position: fixed;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    position: sticky;
}
/* Logo */
#menu #logo {
    display: inline-block;
    float: left;
}

#menu #logo a {
    font-weight: 800px;
    padding: 5px;
    transition: .2 color;
    color: rgb(255,255,255);
}


/* Menu Tab */
#menu #tab {
    display: flex;
    display: inline-block;
    justify-content: flex-end;
}

#menu #tab li {
    display: inline-block;
    float: left;
}

#menu #tab li a {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 5px;
    transition: .2s background-color;
}

#tab a:hover {
    color: rgb(200, 200, 200);
}

#status_bg {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 5px;
    transition: .2s background-color;
}

#status {
    height: 43px;
}

#status p {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    transition: .2s background-color;
    color: #fff;
}
/* Header END */