@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: hangle_dot;
    src: url(/ksm/font/neodgm.woff);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'hangle_dot';
}

body{
    background-color: #06021b;
    height: 10000px;
}

hr{
    color:#fff
}
#top_menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 70px;
    background: #06021b;
}
.navigation { /*컨텐츠 감싸는 요소*/
    position: relative;
    width: 400px;
    height: 70px;
    /* background: linear-gradient(45deg, #dd2, #e91e63); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: -10px 0;
}
.navigation ul {
    display: flex;
    width: 350px;
}
.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}
.navigation ul li.active a .icon {
    transform: translateY(40px);
}
.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-10px);
}
.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(37px) scale(0);
}
.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(37px) scale(1);
}
.indicator {
    position: absolute;
    top: 55%;
    width: 70px;
    height: 70px;
    /* background: linear-gradient(45deg, #dd2, #e91e63); */
    background-color: #2e75cc;
    border: 6px solid #06021b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.indicator::before {
    content: '';
    position: absolute;
    bottom: 56%;
    left: 57px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 #06021b;
    transform: rotate(180deg);
}
.indicator::after {
    content: '';
    position: absolute;
    bottom: 56%;
    right: 57px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 #06021b;
    transform: rotate(180deg);
}
.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}
/* --------------------------------------------------------------------------------- Main munu end ---------------*/
#login a{
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-size: 14px;
    float: right;
}

#login .hr{
    position: absolute;
    height: 1px;
    top:40px;
    background-color:rgb(0, 174, 255);
    width: 100%;
}
/* ---------------------------------------------------------------------- login button end --------------*/
#title{
    background-image: url(/img/Menu_img.jpg);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#title span{
    color: #dd2;
    font-size: 70px;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#title p{
    color: #dd1;
    font-size: 50px;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#title img{
    height: 75%;
}
/* ------------------------------------------------------------------------------------------------------ */
.user_ckecked{
    background-color: #06021b;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    transition: .2s background-color;
}

#status {
    height: 43px;
}

#status p {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    transition: .2s background-color;
    color: #fff;
}
/************************************************************************************/

.content1{
    margin: 10% 5%;
}

.content1 .content_title{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: 'hangle_dot';
    font-variant: small-caps;
    padding: 5px 15px;
    text-shadow: 3px 3px 5px #000;
}

.content1 .content_title span{
    color: #d59295;
    font-family: 'hangle_dot';
    text-shadow: 3px 3px 5px #000;
}

.content1 .substance{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'hangle_dot';
    font-variant: small-caps;
    padding: 5px 0 0 15px;
}

.content1 .substance span{
    font-size: 25px;
    color: #d3d2d4;
    font-family: 'hangle_dot';
}

/***********************************************************************************************/
footer{
    background-color: #06021b;
    width: 100%;
    height: 100px;
    color: #fff;
}