body {
    background-color: #222;
}

a:link {color: #fff; text-decoration: none;} 
a:visited {color: #fff}
a:hover {color: #fff;}
a:active {color: #fff;}

nav{
    display: flex;
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

nav > a#title {
    flex: 1;
    font-size: 25px;
    padding: 5px;
    font-weight: 800;
    display: inline-block;
    transition: .2 color;
    color: rgb(255,255,255);
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    font-size: 17px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 5px;
    transition: .2s background-color;
}

ul {
    list-style: none;
}

#server_checked {
    background-color: #444;
    color: rgb(255,255,255);
    display: flex;
    position:fixed;
    flex: 1;
    font-size: 12px;
    padding: 5px;
    font-weight: 800;
    display: inline-block;
    transition: .2 color;
    text-align: center;
    width: 280px;
    height: 65px;
    border-radius: 15px;
}